$brand-primary: #34373c;
$brand-secondary: #6f5fba;
$brand-tertiary: #b8336a;
$brand-quarternary: #0dbeb2;
$brand-quint: #19647e;

$brand-grey1: #c4c4c4;

$core-color-light: #eeeeee;
$core-border-radius: 2px;

$core-font-color: #1f1f1f;
